#MagicPwd Configure File!
163.com.type=pop3
163.com.http=http://mail.163.com
pop3.163.com=pop.163.com:-1:true:false
smtp.163.com=smtp.163.com:25:true:false
126.com.type=pop
126.com.http=http://www.126.com
pop.126.com=pop.126.com:-1:true
smtp.126.com=smtp.126.com:25:true
gmail.com.type=imap
imap.gmail.com=imap.gmail.com:587:true
smtp.gmail.com=smtp.gmail.com:465:true
sohu.com.type=pop3
sohu.com.http=http://mail.sohu.com
pop3.sohu.com=pop3.sohu.com::
smtp.sohu.com=smtp.sohu.com:25:
sina.com.type=pop3
sina.com.http=http://mail.sina.com.cn
pop3.sina.com=pop3.sina.com::
smtp.sina.com=smtp.sina.com::
tom.com.type=pop3
tom.com.http=http://mail.tom.com
pop3.tom.com=pop3.tom.com::
smtp.tom.com=smtp.tom.com::
qq.com.type=pop
qq.com.http=http://mail.qq.com
pop.qq.com=pop.qq.com:110:
smtp.qq.com=smtp.qq.com:25:
188.com.type=pop
188.com.http=http://www.188.com
pop.188.com=pop.188.com::
smtp.188.com=smtp.188.com::
yeah.net.type=pop3
pop3.yeah.net=pop3.yeah.net::
smtp.yeah.net=smtp.yeah.net::
yahoo.com.cn.type=pop
yahoo.com.cn.http=http://cn.mail.yahoo.com
pop.yahoo.com.cn=pop.mail.yahoo.com.cn:995:true
smtp.yahoo.com.cn=smtp.mail.yahoo.com.cn:465:true
yahoo.cn.type=pop
pop.yahoo.cn=pop.mail.yahoo.cn:995:true
smtp.yahoo.cn=smtp.mail.yahoo.cn:465:
sogou.com.type=pop3
pop3.sogou.com=pop3.mail.sogou.com::
smtp.sogou.com=smtp.mail.sogou.com::
139.com.type=pop
pop.139.com=pop.139.com::
smtp.139.com=smtp.139.com::
china.com.type=pop
pop.china.com=pop.china.com::
smtp.china.com=smtp.china.com::
21cn.net.type=pop
pop.21cn.net=pop.21cn.net::
smtp.21cn.net=smtp.21cn.net::
21cn.com.type=pop
pop.21cn.com=pop.21cn.com::
smtp.21cn.com=smtp.21cn.com::
eyou.com.type=pop3
pop3.eyou.com=pop3.eyou.com::
smtp.eyou.com=mx.eyou.com::
263.net.type=pop
263.net.http=http://www.263.net
pop.263.net=pop.263.net::
smtp.263.net=smtp.263.net::
vip.163.com.type=pop
pop.vip.163.com=pop.vip.163.com::
smtp.vip.163.com=smtp.vip.163.com::
netease.com.type=pop
pop.netease.com=pop.netease.com::
smtp.netease.com=smtp.netease.com::
vip.sina.com.type=pop3
pop3.vip.sina.com=pop3.vip.sina.com::
smtp.vip.sina.com=smtp.vip.sina.com::
263.net.cn.type=pop3
pop3.263.net.cn=263.net.cn::
smtp.263.net.cn=263.net.cn::
x263.net.type=pop
pop.x263.net=pop.x263.net::
smtp.x263.net=smtp.x263.net::
263xmail.com.type=pop
pop.263xmail.com=pop.263xmail.com::
smtp.263xmail.com=smtp.263xmail.com::
imap.21cn.com=imap.21cn.com::
pop.gmail.com=pop.gmail.com:995:true
vip.21cn.com.type=pop3
pop3.vip.21cn.com=vip.21cn.com::
smtp.vip.21cn.com=vip.21cn.com::
live.com.type=pop
pop.live.com=pop.live.com:995:
smtp.live.com=smtp.live.com:25:
hotmail.com.type=pop
pop.hotmail.com=pop.live.com:995:
smtp.hotmail.com=smtp.live.com:25:
sina.net.type=pop3
pop3.sina.net=pop3.sina.net::
smtp.sina.net=smtp.sina.net::
xinhuanet.com.type=pop
pop.xinhuanet.com=pop.xinhuanet.com::
smtp.xinhuanet.com=smtp.xinhuanet.com::
56.com.type=pop3
56.com.http=http://mail.56.com
pop3.56.com=pop3.56.com::
smtp.56.com=smtp.56.com::
etang.com.type=pop
pop.etang.com=pop.etang.com::
smtp.etang.com=smtp.etang.com::
elong.com.type=pop3
pop3.elong.com=pop3.elong.com::
smtp.elong.com=smtp.elong.com::
