<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : menu.xml
    Created on : 2010年8月1日, 下午8:21
    Author     : aven
    Description:
        《魔方密码》系统菜单配置文档。
        快捷替换字符说明：
        ~ shift
        # alt
        ^ ctrl或者control
        ! meta
-->
<magicpwd>
    <!--代码配置模板-->
    <menubar id="template">
        <menu id="foo" text="菜单1" tips="" icon="" icon-rollover="" icon-pressed="" icon-disabled="">
            <item type="normal" text="普通菜单项" tips="" icon="" strokes="^ N" command="哈哈！！">
                <action id="" class="com.magicpwd.e.TestAction" />
                <property name="" refId="" />
                <property name="" refId="" />
            </item>
            <seperator />
            <item type="checkbox" text="复选菜单项" tips="" icon="" strokes="" command="" group="" checked="true">
                <action id="" class="" />
                <property name="" refId="" />
                <property name="" refId="" />
            </item>
            <item type="radiobox" text="单选菜单项" tips="" icon="" strokes="" command="" group="" checked="true">
                <action id="" class="" />
                <property name="" refId="" />
                <property name="" refId="" />
            </item>
        </menu>
        <menu id="bar" text="菜单2" tips="" icon="" icon-rollover="" icon-pressed="" icon-disabled="">
        </menu>
    </menubar>

    <!--魔方密码菜单栏-->
    <menubar id="magicpwd">
        <menu id="file" text="$P30F7601" tips="" icon="" icon-rollover="" icon-pressed="" icon-disabled="">
            <!--新增-->
            <item type="normal" text="$P30F7602" tips="" icon="" strokes="^ N" command="">
                <action id="" class="com.magicpwd.e.pwd.file.NewAction" />
                <property name="" ref-id="" />
            </item>
            <!--保存-->
            <item type="normal" text="$P30F7603" tips="" icon="" strokes="^ S" command="">
                <action id="" class="com.magicpwd.e.pwd.file.SaveAction" />
                <property name="" refId="" />
            </item>
            <!--隐藏窗口-->
            <item type="normal" text="$P30F7604" tips="" icon="" strokes="^ H" command="">
                <action id="" class="com.magicpwd.e.pwd.file.HideAction" />
                <property name="" refId="" />
            </item>
            <!--退出-->
            <item type="normal" text="$P30F7605" tips="" icon="" strokes="^ Q" command="">
                <action id="" class="com.magicpwd.e.pwd.file.ExitAction" />
            </item>
        </menu>
        <menu id="edit" text="编辑(@E)" tips="">
            <item type="checkbox" text="P30F7603" tips="" icon="" strokes="" group="" checked="true">

            </item>
            <item type="radiobox" text="$P30F7604" tips="" icon="" strokes="" group="" checked="true">

            </item>
            <item type="radiobox" text="$P30F7605" tips="" icon="" strokes="" group="" checked="true">

            </item>
            <seperator />
        </menu>
        <menu id="view" text="视图(@V)" tips="">
        </menu>
        <menu id="data" text="数据(@D)" tips="">
        </menu>
        <menu id="user" text="用户(@A)" tips="">
        </menu>
        <menu id="skin" text="皮肤(@L)" tips="">
        </menu>
        <menu id="help" text="帮助(@H)" tips="">
        </menu>
    </menubar>

    <!--魔方密码弹出菜单-->
    <menupop id="magicpwd">

    </menupop>

    <!--魔方密码工具栏-->
    <toolbar id="magicpwd">

    </toolbar>
</magicpwd>