#MagicPwd Configure File!
#Thu Mar 04 20:46:08 CST 2010
263.net.type=pop
etang.com.type=pop
yahoo.com.cn.type=pop
pop.hotmail.com=pop.live.com\:995\:
elong.com.type=pop3
pop.x263.net=pop.x263.net\:\:
smtp.sogou.com=smtp.mail.sogou.com\:\:
tom.com.http=http\://mail.tom.com
pop.xinhuanet.com=pop.xinhuanet.com\:\:
smtp.56.com=smtp.56.com\:\:
qq.com.type=pop
smtp.elong.com=smtp.elong.com\:\:
smtp.vip.sina.com=smtp.vip.sina.com\:\:
263.net.http=http\://www.263.net
263.net.cn.type=pop3
pop.21cn.com=pop.21cn.com\:\:
yahoo.com.cn.http=http\://cn.mail.yahoo.com
pop3.sina.net=pop3.sina.net\:\:
pop.qq.com=pop.qq.com\:110\:
china.com.type=pop
pop3.sohu.com=pop3.sohu.com\:\:
smtp.126.com=smtp.126.com\:25\:true
smtp.21cn.net=smtp.21cn.net\:\:
magicpwd.view.tool=true
sina.net.type=pop3
sina.com.type=pop3
pop.126.com=pop.126.com\:-1\:true
eyou.com.type=pop3
qq.com.http=http\://mail.qq.com
magicpwd.user=123,
188.com.type=pop
56.com.type=pop3
smtp.qq.com=smtp.qq.com\:25\:
pop.netease.com=pop.netease.com\:\:
yeah.net.type=pop3
pop3.yeah.net=pop3.yeah.net\:\:
smtp.gmail.com=smtp.gmail.com\:465\:true
imap.21cn.com=imap.21cn.com\:\:
sina.com.http=http\://mail.sina.com.cn
pop.yahoo.com.cn=pop.mail.yahoo.com.cn\:995\:true
pop.21cn.net=pop.21cn.net\:\:
smtp.163.com=smtp.163.com\:25\:true
vip.sina.com.type=pop3
netease.com.type=pop
smtp.xinhuanet.com=smtp.xinhuanet.com\:\:
smtp.tom.com=smtp.tom.com\:\:
21cn.net.type=pop
pop3.sogou.com=pop3.mail.sogou.com\:\:
21cn.com.type=pop
188.com.http=http\://www.188.com
pop.163.com=pop.163.com\:-1\:true
56.com.http=http\://mail.56.com
smtp.etang.com=smtp.etang.com\:\:
hotmail.com.type=pop
gmail.com.type=imap
smtp.sina.com=smtp.sina.com\:\:
pop3.elong.com=pop3.elong.com\:\:
smtp.yahoo.cn=smtp.mail.yahoo.cn\:465\:
smtp.263.net=smtp.263.net\:\:
smtp.eyou.com=mx.eyou.com\:\:
magicpwd.user.123.info=2E00A0A591B9E30EE872B16F80093D89B63D1497339ED44EAA690C22C379C4F944BD65753812DC033A62E937D6CAF8E1B6B671859A4950D013BAE7A798736822
smtp.yahoo.com.cn=smtp.mail.yahoo.com.cn\:465\:true
smtp.china.com=smtp.china.com\:\:
smtp.hotmail.com=smtp.live.com\:25\:
pop.263.net=pop.263.net\:\:
pop3.vip.21cn.com=vip.21cn.com\:\:
xinhuanet.com.type=pop
pop.vip.163.com=pop.vip.163.com\:\:
vip.21cn.com.type=pop3
live.com.type=pop
imap.gmail.com=imap.gmail.com\:587\:true
smtp.vip.21cn.com=vip.21cn.com\:\:
263xmail.com.type=pop
pop3.263.net.cn=263.net.cn\:\:
sogou.com.type=pop3
pop3.56.com=pop3.56.com\:\:
pop.yahoo.cn=pop.mail.yahoo.cn\:995\:true
pop3.gmail.com=pop.gmail.com\:995\:true
smtp.netease.com=smtp.netease.com\:\:
x263.net.type=pop
smtp.sina.net=smtp.sina.net\:\:
139.com.type=pop
smtp.sohu.com=smtp.sohu.com\:25\:
smtp.263.net.cn=263.net.cn\:\:
smtp.live.com=smtp.live.com\:25\:
smtp.188.com=smtp.188.com\:\:
163.com.type=pop
pop3.tom.com=pop3.tom.com\:\:
126.com.type=pop
pop.etang.com=pop.etang.com\:\:
smtp.139.com=smtp.139.com\:\:
pop.188.com=pop.188.com\:\:
sohu.com.type=pop3
pop.139.com=pop.139.com\:\:
yahoo.cn.type=pop
magicpwd.skin=com.jtattoo.plaf.aero.AeroLookAndFeel
pop.263xmail.com=pop.263xmail.com\:\:
smtp.yeah.net=smtp.yeah.net\:\:
smtp.x263.net=smtp.x263.net\:\:
163.com.http=http\://mail.163.com
smtp.263xmail.com=smtp.263xmail.com\:\:
magicpwd.user.123.pkey=7876C418B53942BD1EA2051E4D5159CB71F169EFF24BCD353DE85C7534CA51E3FE7E9D601CAB35AB71285E2A94E5C76E
126.com.http=http\://www.126.com
pop3.sina.com=pop3.sina.com\:\:
pop.live.com=pop.live.com\:995\:
pop3.vip.sina.com=pop3.vip.sina.com\:\:
smtp.vip.163.com=smtp.vip.163.com\:\:
pop3.eyou.com=pop3.eyou.com\:\:
sohu.com.http=http\://mail.sohu.com
vip.163.com.type=pop
tom.com.type=pop3
smtp.21cn.com=smtp.21cn.com\:\:
pop.china.com=pop.china.com\:\:
