skin_core=Java默认风格
skin_core_1=Metal:javax.swing.plaf.metal.MetalLookAndFeel
skin_core_2=Windows:com.sun.java.swing.plaf.windows.WindowsLookAndFeel
skin_core_3=Windows Classic:com.sun.java.swing.plaf.windows.WindowsClassicLookAndFeel
skin_core_4=Motif:com.sun.java.swing.plaf.motif.MotifLookAndFeel
skin_core_5=Nimbus:com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel

skin_jgoodies=JGoodies
skin_jgoodies_1=Windows:com.jgoodies.looks.windows.WindowsLookAndFeel
skin_jgoodies_2=Plastic:com.jgoodies.looks.plastic.PlasticLookAndFeel
skin_jgoodies_3=Plastic3D:com.jgoodies.looks.plastic.Plastic3DLookAndFeel
skin_jgoodies_4=PlasticXP:com.jgoodies.looks.plastic.PlasticXPLookAndFeel

skin_substance=Substance
skin_substance_1=Business:org.pushingpixels.substance.api.skin.SubstanceBusinessLookAndFeel
skin_substance_2=Business Black Steel:org.pushingpixels.substance.api.skin.SubstanceBusinessBlackSteelLookAndFeel
skin_substance_3=Business Blue Steel:org.pushingpixels.substance.api.skin.SubstanceBusinessBlueSteelLookAndFeel
skin_substance_4=Creme:org.pushingpixels.substance.api.skin.SubstanceCremeLookAndFeel
skin_substance_5=Creme Coffee:org.pushingpixels.substance.api.skin.SubstanceCremeCoffeeLookAndFeel
skin_substance_6=Dust:org.pushingpixels.substance.api.skin.SubstanceDustLookAndFeel
skin_substance_7=Dust Coffee:org.pushingpixels.substance.api.skin.SubstanceDustCoffeeLookAndFeel
skin_substance_8=Gemini:org.pushingpixels.substance.api.skin.SubstanceGeminiLookAndFeel
skin_substance_9=Moderate:org.pushingpixels.substance.api.skin.SubstanceModerateLookAndFeel
skin_substance_10=Nebula:org.pushingpixels.substance.api.skin.SubstanceNebulaLookAndFeel
skin_substance_11=Nebula Brick Wall:org.pushingpixels.substance.api.skin.SubstanceNebulaBrickWallLookAndFeel
skin_substance_12=Office Silver 2007:org.pushingpixels.substance.api.skin.SubstanceOfficeSilver2007LookAndFeel
skin_substance_13=Sahara:org.pushingpixels.substance.api.skin.SubstanceSaharaLookAndFeel
skin_substance_14=-
skin_substance_15=Office Blue 2007:org.pushingpixels.substance.api.skin.SubstanceOfficeBlue2007LookAndFeel
skin_substance_16=Magellan:org.pushingpixels.substance.api.skin.SubstanceMagellanLookAndFeel
skin_substance_18=-
skin_substance_19=Challenger Deep:org.pushingpixels.substance.api.skin.SubstanceChallengerDeepLookAndFeel
skin_substance_20=Emerald Dusk:org.pushingpixels.substance.api.skin.SubstanceEmeraldDuskLookAndFeel
skin_substance_21=Magma:org.pushingpixels.substance.api.skin.SubstanceMagmaLookAndFeel
skin_substance_22=Raven:org.pushingpixels.substance.api.skin.SubstanceRavenLookAndFeel
skin_substance_23=Graphite Aqua:org.pushingpixels.substance.api.skin.SubstanceGraphiteAquaLookAndFeel
skin_substance_24=Twilight:org.pushingpixels.substance.api.skin.SubstanceTwilightLookAndFeel