skin_core=Java默认风格
skin_core_1=Metal:javax.swing.plaf.metal.MetalLookAndFeel
skin_core_2=Windows:com.sun.java.swing.plaf.windows.WindowsLookAndFeel
skin_core_3=Windows Classic:com.sun.java.swing.plaf.windows.WindowsClassicLookAndFeel
skin_core_4=Motif:com.sun.java.swing.plaf.motif.MotifLookAndFeel
skin_core_5=Nimbus:com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel

skin_jgoodies=JGoodies
skin_jgoodies_1=Windows:com.jgoodies.looks.windows.WindowsLookAndFeel
skin_jgoodies_2=Plastic:com.jgoodies.looks.plastic.PlasticLookAndFeel
skin_jgoodies_3=Plastic3D:com.jgoodies.looks.plastic.Plastic3DLookAndFeel
skin_jgoodies_4=PlasticXP:com.jgoodies.looks.plastic.PlasticXPLookAndFeel